{% load staticfiles %}<!DOCTYPE html>
<html {{ html_attr|safe }} class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Product Catalog: {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'main.css' %}"/>
  {% block head %}{% endblock %}
</head>
<body {{ body_attr|safe }}>
<div class="container">
  <nav>
    <h1 id="logo"><a href="/">Product Catalog</a></h1>
  </nav>
  {% block content %}<p>Hello world! This is HTML5 Boilerplate.</p>{% endblock %}
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>