{% extends 'base.html' %}
{% block content %}
  {% if message %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endif %}
  <div id="catalog-items">
    {% for product in products %}
      {% if forloop.first %}
        <div class="row">{% endif %}
      <div class="col-lg-4">
        <p><a href="{% url 'product' product.id %}">{{ product.name }}</a></p>

        <p>{{ product.description }}</p>

        <p>{{ product.value }}</p>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div>
        <hr/>
        <div class="row">{% endif %}
      {% if forloop.last %}</div>{% endif %}
    {% endfor %}
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
          <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

      <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
      </span>

      {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-4 offset-8">
      <a href="{% url 'addproduct' %}" class="btn btn-primary" id="add-product">Add Product</a>
    </div>
  </div>
{% endblock %}