{% extends 'base.html' %}
{% block content %}
  <h2>{{ product.name }}</h2>
  <p>${{ product.value }}</p>
  <p>{{ product.description }}</p>
  <p>Dimensions &amp; Weight:</p>
  <ul>
    <li>width: {{ product.width }}</li>
    <li>length: {{ product.length }}</li>
    <li>height: {{ product.height }}</li>
    <li>weight: {{ product.weight }}</li>
  </ul>
  <hr/>
  <a class="btn btn-primary" href="{% url 'editproduct' product.id %}">Edit Product</a>
  <a id="delete-confirm" class="btn btn-warning" href="{% url 'removeproduct' product.id %}">Remove Product</a>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
      $(function () {
          $('#delete-confirm').click(function (evt) {
            evt.preventDefault();
            if (confirm("Are you sure you want to delete this product permanently?")) {
              window.location = $(this).attr('href');
            }
          });
        });
    </script>
  {% endblock %}